#
# Label definitions
#

common: &common
  bug: "ee0701"
  "bug/sporadic test failure": "ee0701"
  changelog/yes: "d4c5f9"
  changelog/no: "d4c5f9"
  cleanup: "fef2c0"
  dependencies: "b4a8d1"
  developer: "bcf5db"
  documentation: "d4c5f9"
  duplicate: "eeeeee"
  enhancement: "84b6eb"
  "good first issue": "0e8a16"
  hacktoberfest: "ff7619"
  "help wanted": "0e8a16"
  internationalization: "d4c5f9"
  notabug: "eeeeee"
  performance: "e99695"
  pinned: "eeeeee"
  question: "cc317c"
  refactoring: "fbca04"
  redesign: "e99695"
  "size/l": "0e8a16"
  "size/m": "0e8a16"
  "size/s": "0e8a16"
  "size/xl": "0e8a16"
  stale: "eeeeee"
  "technical debt": "ff7619"
  test: "bfe5bf"
  tools: "bcf5db"
  unmergeable: "eeeeee"
  verified: "0e8a16"
  wip: "eeeeee"
  wontfix: "eeeeee"

semver: &semver
  "semver/major": "6a92bc"
  "semver/minor": "6a92bc"

provider_plugin: &provider_plugin
  events: "5319e7"
  inventory: "5319e7"
  metrics: "5319e7"
  operations: "5319e7"
  "smart state": "5319e7"

provider_types: &provider_types
  providers/automation: "5319e7"
  providers/cloud: "5319e7"
  providers/configuration: "5319e7"
  providers/containers: "5319e7"
  providers/middleware: "5319e7"
  providers/network: "5319e7"
  providers/physical: "5319e7"
  providers/provisioning: "5319e7"
  providers/storage: "5319e7"
  providers/virtual: "5319e7"

ux: &ux
  ux/review: "cc317c"
  ux/approved: "0e8a16"

v2v: &v2v
  v2v: "5319e7"

#
# Release label definitions
#

release: &release
  blocker: "000000"
  "bugzilla needed": "000000"

release_lasker: &release_lasker
  lasker/yes: "000000"
  lasker/yes?: "000000"
  lasker/no: "000000"
  lasker/backported: "000000"
  lasker/conflict: "000000"

release_kasparov: &release_kasparov
  kasparov/yes: "555555"
  kasparov/yes?: "555555"
  kasparov/no: "555555"
  kasparov/backported: "555555"
  kasparov/conflict: "555555"

release_jansa: &release_jansa
  jansa/yes: "dddddd"
  jansa/yes?: "dddddd"
  jansa/no: "dddddd"
  jansa/backported: "dddddd"
  jansa/conflict: "dddddd"

release_ivanchuk: &release_ivanchuk
  ivanchuk/yes: "dddddd"
  ivanchuk/no: "dddddd"
  ivanchuk/backported: "dddddd"
  ivanchuk/conflict: "dddddd"

release_hammer: &release_hammer
  hammer/yes: "dddddd"
  hammer/no: "dddddd"
  hammer/backported: "dddddd"
  hammer/conflict: "dddddd"

repo_introduced_in_lasker: &repo_introduced_in_lasker
  <<: *release_lasker

repo_introduced_in_kasparov: &repo_introduced_in_kasparov
  <<: *release_kasparov
  <<: *repo_introduced_in_lasker

repo_introduced_in_jansa: &repo_introduced_in_jansa
  <<: *release_jansa
  <<: *repo_introduced_in_kasparov

repo_introduced_in_ivanchuk: &repo_introduced_in_ivanchuk
  <<: *release_ivanchuk
  <<: *repo_introduced_in_jansa

repo_introduced_in_hammer_or_prior: &repo_introduced_in_hammer_or_prior
  <<: *release_hammer
  <<: *repo_introduced_in_ivanchuk

#
# Label Assignments
#

orgs:
  ManageIQ:
    except:
    - ManageIQ/integration_tests
    - ManageIQ/integration_tests_playbooks
    - ManageIQ/miq_tools_services
    - ManageIQ/polisher
    labels:
      <<: *common

repos:
  ManageIQ/container-amazon-smartstate:
    <<: *common
    <<: *repo_introduced_in_hammer_or_prior
    <<: *release
  ManageIQ/manageiq:
    <<: *common
    <<: *repo_introduced_in_hammer_or_prior
    <<: *provider_types
    <<: *release
    <<: *v2v
  ManageIQ/manageiq-api:
    <<: *common
    <<: *repo_introduced_in_hammer_or_prior
    <<: *provider_types
    <<: *release
    <<: *semver
  ManageIQ/manageiq-appliance:
    <<: *common
    <<: *repo_introduced_in_hammer_or_prior
    <<: *release
  ManageIQ/manageiq-appliance-build:
    <<: *common
    <<: *repo_introduced_in_hammer_or_prior
    <<: *release
  ManageIQ/manageiq-automation_engine:
    <<: *common
    <<: *repo_introduced_in_hammer_or_prior
    <<: *release
    <<: *v2v
  ManageIQ/manageiq-consumption:
    <<: *common
    <<: *repo_introduced_in_hammer_or_prior
    <<: *release
  ManageIQ/manageiq-content:
    <<: *common
    <<: *repo_introduced_in_hammer_or_prior
    <<: *provider_types
    <<: *release
    <<: *v2v
  ManageIQ/manageiq-documentation:
    <<: *repo_introduced_in_hammer_or_prior
    <<: *release
  ManageIQ/manageiq-gems-pending:
    <<: *common
    <<: *repo_introduced_in_hammer_or_prior
    <<: *release
  ManageIQ/manageiq-graphql:
    <<: *common
    <<: *repo_introduced_in_hammer_or_prior
    <<: *release
  ManageIQ/manageiq-pods:
    <<: *common
    <<: *repo_introduced_in_hammer_or_prior
    <<: *release
  ManageIQ/manageiq-providers-amazon:
    <<: *common
    <<: *repo_introduced_in_hammer_or_prior
    <<: *provider_plugin
    <<: *release
  ManageIQ/manageiq-providers-ansible_tower:
    <<: *common
    <<: *repo_introduced_in_hammer_or_prior
    <<: *provider_plugin
    <<: *release
  ManageIQ/manageiq-providers-autosde:
    <<: *common
    <<: *repo_introduced_in_kasparov
    <<: *provider_plugin
    <<: *release
  ManageIQ/manageiq-providers-azure:
    <<: *common
    <<: *repo_introduced_in_hammer_or_prior
    <<: *provider_plugin
    <<: *release
  ManageIQ/manageiq-providers-azure_stack:
    <<: *common
    <<: *repo_introduced_in_ivanchuk
    <<: *provider_plugin
    <<: *release
  ManageIQ/manageiq-providers-foreman:
    <<: *common
    <<: *repo_introduced_in_hammer_or_prior
    <<: *provider_plugin
    <<: *release
  ManageIQ/manageiq-providers-google:
    <<: *common
    <<: *repo_introduced_in_hammer_or_prior
    <<: *provider_plugin
    <<: *release
  ManageIQ/manageiq-providers-ibm_cloud:
    <<: *common
    <<: *repo_introduced_in_kasparov
    <<: *provider_plugin
    <<: *release
  ManageIQ/manageiq-providers-ibm_power_vc:
    <<: *common
    # <<: *repo_introduced_in_morphy
    <<: *provider_plugin
    <<: *release
  ManageIQ/manageiq-providers-ibm_terraform:
    <<: *common
    <<: *repo_introduced_in_kasparov
    <<: *provider_plugin
    <<: *release
  ManageIQ/manageiq-providers-kubernetes:
    <<: *common
    <<: *repo_introduced_in_hammer_or_prior
    <<: *provider_plugin
    <<: *release
  ManageIQ/manageiq-providers-kubevirt:
    <<: *common
    <<: *repo_introduced_in_hammer_or_prior
    <<: *provider_plugin
    <<: *release
  ManageIQ/manageiq-providers-lenovo:
    <<: *common
    <<: *repo_introduced_in_hammer_or_prior
    <<: *provider_plugin
    <<: *release
  ManageIQ/manageiq-providers-nsxt:
    <<: *common
    <<: *repo_introduced_in_kasparov
    <<: *provider_plugin
    <<: *release
  ManageIQ/manageiq-providers-nuage:
    <<: *common
    <<: *repo_introduced_in_hammer_or_prior
    <<: *provider_plugin
    <<: *release
  ManageIQ/manageiq-providers-openshift:
    <<: *common
    <<: *repo_introduced_in_hammer_or_prior
    <<: *provider_plugin
    <<: *release
  ManageIQ/manageiq-providers-openstack:
    <<: *common
    <<: *repo_introduced_in_hammer_or_prior
    <<: *provider_plugin
    <<: *release
  ManageIQ/manageiq-providers-oracle_cloud:
    <<: *common
    <<: *provider_plugin
    <<: *release
  ManageIQ/manageiq-providers-ovirt:
    <<: *common
    <<: *repo_introduced_in_hammer_or_prior
    <<: *provider_plugin
    <<: *release
  ManageIQ/manageiq-providers-redfish:
    <<: *common
    <<: *repo_introduced_in_hammer_or_prior
    <<: *provider_plugin
    <<: *release
  ManageIQ/manageiq-providers-scvmm:
    <<: *common
    <<: *repo_introduced_in_hammer_or_prior
    <<: *provider_plugin
    <<: *release
  ManageIQ/manageiq-providers-vmware:
    <<: *common
    <<: *repo_introduced_in_hammer_or_prior
    <<: *provider_plugin
    <<: *release
  ManageIQ/manageiq-rpm_build:
    <<: *common
    <<: *repo_introduced_in_jansa
    <<: *release
  ManageIQ/manageiq-schema:
    <<: *common
    <<: *repo_introduced_in_hammer_or_prior
    <<: *provider_types
    <<: *release
    <<: *v2v
  ManageIQ/manageiq-ui-classic:
    <<: *common
    <<: *repo_introduced_in_hammer_or_prior
    <<: *release
    <<: *ux
    <<: *v2v
  ManageIQ/manageiq-ui-service:
    <<: *common
    <<: *repo_introduced_in_hammer_or_prior
    <<: *release
    <<: *ux
  ManageIQ/manageiq-v2v:
    <<: *common
    <<: *repo_introduced_in_hammer_or_prior
    <<: *release
    <<: *ux
    <<: *v2v
  #
  # Released gems and packages
  #
  ansible/ansible_tower_client_ruby:
    <<: *common
    <<: *semver
  ManageIQ/dbus_api_service:
    <<: *common
    <<: *release
    <<: *semver
  ManageIQ/httpd_configmap_generator:
    <<: *common
    <<: *release
    <<: *semver
  ManageIQ/inventory_refresh:
    <<: *common
    <<: *semver
  ManageIQ/log_decorator:
    <<: *common
    <<: *semver
  ManageIQ/manageiq-appliance_console:
    <<: *common
    <<: *release
    <<: *semver
  ManageIQ/manageiq-messaging:
    <<: *common
    <<: *semver
  ManageIQ/manageiq-smartstate:
    <<: *common
    <<: *release
    <<: *semver
  ManageIQ/ui-components:
    <<: *common
    <<: *semver
    <<: *ux
