#
# Label definitions
#

mend: &mend
  "configuration error": "ee0701"
  "security fix": "ee0701"
  "Mend: dependency security vulnerability": "ee0701"
  "Mend: dependency dashboard": "ee0701"

common: &common
  bug: "ee0701"
  "bug/sporadic test failure": "ee0701"
  changelog/yes: "d4c5f9"
  changelog/no: "d4c5f9"
  cleanup: "fef2c0"
  dependencies: "b4a8d1"
  developer: "bcf5db"
  documentation: "d4c5f9"
  duplicate: "eeeeee"
  enhancement: "84b6eb"
  "good first issue": "0e8a16"
  hacktoberfest: "ff7619"
  "help wanted": "0e8a16"
  internationalization: "d4c5f9"
  notabug: "eeeeee"
  performance: "e99695"
  pinned: "eeeeee"
  question: "cc317c"
  refactoring: "fbca04"
  redesign: "e99695"
  regression: "ee0701"
  rails6.1: "f9d0c4"
  rails7: "f9d0c4"
  rails7.1: "f9d0c4"
  rails7.2: "f9d0c4"
  rails8.0: "f9d0c4"
  rails8.1: "f9d0c4"
  ruby3: "f9d0c4"
  ruby3.1: "f9d0c4"
  ruby3.2: "f9d0c4"
  ruby3.3: "f9d0c4"
  ruby3.4: "f9d0c4"
  "size/l": "0e8a16"
  "size/m": "0e8a16"
  "size/s": "0e8a16"
  "size/xl": "0e8a16"
  stale: "eeeeee"
  "technical debt": "ff7619"
  test: "bfe5bf"
  tools: "bcf5db"
  unmergeable: "eeeeee"
  verified: "0e8a16"
  wip: "eeeeee"
  wontfix: "eeeeee"
  <<: *mend

semver: &semver
  "semver/major": "6a92bc"
  "semver/minor": "6a92bc"

provider_plugin: &provider_plugin
  events: "5319e7"
  inventory: "5319e7"
  metrics: "5319e7"
  operations: "5319e7"
  "smart state": "5319e7"

provider_types: &provider_types
  providers/automation: "5319e7"
  providers/cloud: "5319e7"
  providers/configuration: "5319e7"
  providers/containers: "5319e7"
  providers/middleware: "5319e7"
  providers/network: "5319e7"
  providers/physical: "5319e7"
  providers/provisioning: "5319e7"
  providers/storage: "5319e7"
  providers/virtual: "5319e7"

ux: &ux
  ux/review: "cc317c"
  ux/approved: "0e8a16"

#
# Release label definitions
#

release: &release
  blocker: "000000"
  "bugzilla needed": "000000"

release_spassky: &release_spassky
  spassky/yes: "000000"
  spassky/yes?: "000000"
  spassky/no: "000000"
  spassky/backported: "000000"
  spassky/conflict: "000000"

release_radjabov: &release_radjabov
  radjabov/yes: "000000"
  radjabov/yes?: "000000"
  radjabov/no: "000000"
  radjabov/backported: "000000"
  radjabov/conflict: "000000"

release_quinteros: &release_quinteros
  quinteros/yes: "555555"
  quinteros/yes?: "555555"
  quinteros/no: "555555"
  quinteros/backported: "555555"
  quinteros/conflict: "555555"

release_petrosian: &release_petrosian
  petrosian/yes: "dddddd"
  petrosian/yes?: "dddddd"
  petrosian/no: "dddddd"
  petrosian/backported: "dddddd"
  petrosian/conflict: "dddddd"

release_oparin: &release_oparin
  oparin/yes: "dddddd"
  oparin/yes?: "dddddd"
  oparin/no: "dddddd"
  oparin/backported: "dddddd"
  oparin/conflict: "dddddd"

release_najdorf: &release_najdorf
  najdorf/yes: "dddddd"
  najdorf/yes?: "dddddd"
  najdorf/no: "dddddd"
  najdorf/backported: "dddddd"
  najdorf/conflict: "dddddd"

release_morphy: &release_morphy
  morphy/yes: "dddddd"
  morphy/yes?: "dddddd"
  morphy/no: "dddddd"
  morphy/backported: "dddddd"
  morphy/conflict: "dddddd"

release_spassky_plus: &release_spassky_plus
  <<:
  - *release_spassky

release_radjabov_plus: &release_radjabov_plus
  <<:
  - *release_radjabov
  - *release_spassky_plus

release_quinteros_plus: &release_quinteros_plus
  <<:
  - *release_quinteros
  - *release_radjabov_plus

release_petrosian_plus: &release_petrosian_plus
  <<:
  - *release_petrosian
  - *release_quinteros_plus

release_oparin_plus: &release_oparin_plus
  <<:
  - *release_oparin
  - *release_petrosian_plus

release_najdorf_plus: &release_najdorf_plus
  <<:
  - *release_najdorf
  - *release_oparin_plus

release_morphy_plus: &release_morphy_plus
  <<:
  - *release_morphy
  - *release_najdorf_plus

#
# Label Assignments
#

orgs:
  ManageIQ:
    except:
    - ManageIQ/integration_tests
    - ManageIQ/integration_tests_playbooks
    - ManageIQ/polisher
    labels:
      <<: *common

repos:
  ManageIQ/amazon_ssa_support:
    <<:
    - *common
    - *release_morphy_plus
    - *release
  ManageIQ/container-amazon-smartstate:
    <<:
    - *common
    - *release_morphy_plus
    - *release
  ManageIQ/manageiq:
    <<:
    - *common
    - *release_morphy_plus
    - *provider_types
    - *release
  ManageIQ/manageiq-api:
    <<:
    - *common
    - *release_morphy_plus
    - *provider_types
    - *release
    - *semver
  ManageIQ/manageiq-appliance:
    <<:
    - *common
    - *release_morphy_plus
    - *release
  ManageIQ/manageiq-appliance-build:
    <<:
    - *common
    - *release_morphy_plus
    - *release
  ManageIQ/manageiq-automation_engine:
    <<:
    - *common
    - *release_morphy_plus
    - *release
  ManageIQ/manageiq-consumption:
    <<:
    - *common
    - *release_morphy_plus
    - *release
  ManageIQ/manageiq-content:
    <<:
    - *common
    - *release_morphy_plus
    - *provider_types
    - *release
  ManageIQ/manageiq-decorators:
    <<:
    - *common
    - *release_morphy_plus
    - *release
  ManageIQ/manageiq-documentation:
    <<:
    - *release_morphy_plus
    - *release
  ManageIQ/manageiq-gems-pending:
    <<:
    - *common
    - *release_morphy_plus
    - *release
  ManageIQ/manageiq-pods:
    <<:
    - *common
    - *release_morphy_plus
    - *release
  ManageIQ/manageiq-providers-amazon:
    <<:
    - *common
    - *release_morphy_plus
    - *provider_plugin
    - *release
  ManageIQ/manageiq-providers-ansible_tower:
    <<:
    - *common
    - *release_morphy_plus
    - *provider_plugin
    - *release
  ManageIQ/manageiq-providers-autosde:
    <<:
    - *common
    - *release_morphy_plus
    - *provider_plugin
    - *release
  ManageIQ/manageiq-providers-awx:
    <<:
    - *common
    - *release_oparin_plus
    - *provider_plugin
    - *release
  ManageIQ/manageiq-providers-azure:
    <<:
    - *common
    - *release_morphy_plus
    - *provider_plugin
    - *release
  ManageIQ/manageiq-providers-azure_stack:
    <<:
    - *common
    - *release_morphy_plus
    - *provider_plugin
    - *release
  ManageIQ/manageiq-providers-cisco_intersight:
    <<:
    - *common
    - *release_najdorf_plus
    - *provider_plugin
    - *release
  ManageIQ/manageiq-providers-embedded_terraform:
    <<:
    - *common
    - *release_radjabov_plus
    - *provider_plugin
    - *release
  ManageIQ/manageiq-providers-foreman:
    <<:
    - *common
    - *release_morphy_plus
    - *provider_plugin
    - *release
  ManageIQ/manageiq-providers-google:
    <<:
    - *common
    - *release_morphy_plus
    - *provider_plugin
    - *release
  ManageIQ/manageiq-providers-ibm_cic:
    <<:
    - *common
    - *release_najdorf_plus
    - *provider_plugin
    - *release
  ManageIQ/manageiq-providers-ibm_cloud:
    <<:
    - *common
    - *release_morphy_plus
    - *provider_plugin
    - *release
  ManageIQ/manageiq-providers-ibm_power_hmc:
    <<:
    - *common
    - *release_najdorf_plus
    - *provider_plugin
    - *release
  ManageIQ/manageiq-providers-ibm_power_vc:
    <<:
    - *common
    - *release_morphy_plus
    - *provider_plugin
    - *release
  ManageIQ/manageiq-providers-ibm_terraform:
    <<:
    - *common
    - *release_morphy_plus
    - *provider_plugin
    - *release
  ManageIQ/manageiq-providers-kubernetes:
    <<:
    - *common
    - *release_morphy_plus
    - *provider_plugin
    - *release
  ManageIQ/manageiq-providers-kubevirt:
    <<:
    - *common
    - *release_morphy_plus
    - *provider_plugin
    - *release
  ManageIQ/manageiq-providers-lenovo:
    <<:
    - *common
    - *release_morphy_plus
    - *provider_plugin
    - *release
  ManageIQ/manageiq-providers-nsxt:
    <<:
    - *common
    - *release_morphy_plus
    - *provider_plugin
    - *release
  ManageIQ/manageiq-providers-nuage:
    <<:
    - *common
    - *release_morphy_plus
    - *provider_plugin
    - *release
  ManageIQ/manageiq-providers-nutanix:
    <<:
    - *common
    - *release_spassky_plus
    - *provider_plugin
    - *release
  ManageIQ/manageiq-providers-openshift:
    <<:
    - *common
    - *release_morphy_plus
    - *provider_plugin
    - *release
  ManageIQ/manageiq-providers-openstack:
    <<:
    - *common
    - *release_morphy_plus
    - *provider_plugin
    - *release
  ManageIQ/manageiq-providers-oracle_cloud:
    <<:
    - *common
    - *release_morphy_plus
    - *provider_plugin
    - *release
  ManageIQ/manageiq-providers-ovirt:
    <<:
    - *common
    - *release_morphy_plus
    - *provider_plugin
    - *release
  ManageIQ/manageiq-providers-proxmox:
    <<:
    - *common
    # - *release_tal_plus # TODO: Uncomment when we cut the tal branch
    - *provider_plugin
    - *release
  ManageIQ/manageiq-providers-red_hat_virtualization:
    <<:
    - *common
    - *release_oparin_plus
    - *provider_plugin
    - *release
  ManageIQ/manageiq-providers-redfish:
    <<:
    - *common
    - *release_morphy_plus
    - *provider_plugin
    - *release
  ManageIQ/manageiq-providers-terraform_enterprise:
    <<:
    - *common
    - *release_spassky_plus
    - *provider_plugin
    - *release
  ManageIQ/manageiq-providers-vmware:
    <<:
    - *common
    - *release_morphy_plus
    - *provider_plugin
    - *release
  ManageIQ/manageiq-providers-workflows:
    <<:
    - *common
    - *release_petrosian_plus
    - *provider_plugin
    - *release
  ManageIQ/manageiq-rpm_build:
    <<:
    - *common
    - *release_morphy_plus
    - *release
  ManageIQ/manageiq-schema:
    <<:
    - *common
    - *release_morphy_plus
    - *provider_types
    - *release
  ManageIQ/manageiq-ui-classic:
    <<:
    - *common
    - *release_morphy_plus
    - *release
    - *ux
  ManageIQ/manageiq-ui-service:
    <<:
    - *common
    - *release_morphy_plus
    - *release
    - *ux
  #
  # Released gems and packages
  #
  ManageIQ/ansible_tower_client_ruby:
    <<:
    - *common
    - *semver
  ManageIQ/dbus_api_service:
    <<:
    - *common
    - *release
    - *semver
  ManageIQ/floe:
    <<:
    - *common
    - *semver
  ManageIQ/httpd_configmap_generator:
    <<:
    - *common
    - *release
    - *semver
  ManageIQ/inventory_refresh:
    <<:
    - *common
    - *semver
  ManageIQ/kubevirt-sdk-ruby:
    <<:
    - *common
    - *semver
  ManageIQ/log_decorator:
    <<:
    - *common
    - *semver
  ManageIQ/manageiq-appliance_console:
    <<:
    - *common
    - *release
    - *semver
  ManageIQ/manageiq-messaging:
    <<:
    - *common
    - *semver
  ManageIQ/manageiq-smartstate:
    <<:
    - *common
    - *release
    - *semver
  ManageIQ/multi_repo:
    <<:
    - *common
    - *semver
  ManageIQ/nutanix_clustermgmt-sdk-ruby:
    <<:
    - *common
    - *semver
  ManageIQ/nutanix_vmm-sdk-ruby:
    <<:
    - *common
    - *semver
  ManageIQ/nutanix_volumes-sdk-ruby:
    <<:
    - *common
    - *semver
  ManageIQ/rbvmomi2:
    <<:
    - *common
    - *release
    - *semver
  ManageIQ/ruby-rpm-ffi2:
    <<:
    - *common
    - *semver
  ManageIQ/ui-components:
    <<:
    - *common
    - *semver
    - *ux
