---
:git_mirror:
  :branch_mirror_defaults: {}
  :branch_mirror_overrides: {}
  :productization_name: manageiq
  :remotes:
    :upstream: git@github.com:ManageIQ
  :repos_to_mirror:
    manageiq-api:
    manageiq-appliance-build:
    manageiq-appliance:
    manageiq-automation_engine:
    manageiq-consumption:
    manageiq-content:
    manageiq-decorators:
    manageiq-documentation:
    manageiq-gems-pending:
    manageiq-graphql:
    manageiq-pods:
    manageiq-providers-amazon:
    manageiq-providers-ansible_tower:
    manageiq-providers-azure:
    manageiq-providers-azure_stack:
    manageiq-providers-foreman:
    manageiq-providers-google:
    manageiq-providers-hawkular:
    manageiq-providers-kubernetes:
    manageiq-providers-kubevirt:
    manageiq-providers-lenovo:
    manageiq-providers-nuage:
    manageiq-providers-openshift:
    manageiq-providers-openstack:
    manageiq-providers-oracle_cloud:
    manageiq-providers-ovirt:
    manageiq-providers-redfish:
    manageiq-providers-scvmm:
    manageiq-providers-vmware:
    manageiq-release:
    manageiq-schema:
    manageiq-ui-classic:
    manageiq-ui-service:
    manageiq-v2v:
    manageiq:
  :working_directory: mirrors
:manageiq_rubygems:
  :s3_access_key:
  :s3_secret_key:
  :s3_endpoint: https://nyc3.digitaloceanspaces.com
  :s3_bucket: rubygems-manageiq-org
